<header>
    <div>
        <a routerLink="/home"><img src="../../../../assets/header/LogoFP2.svg" alt=""></a>
    </div>
    <nav>
        <ul> 
            <li><a routerLink="/home">Inicio</a></li>
            <li id="spclub"><a href="https://www.sportclub.com.ar/" target="_blank">SportClub</a></li>
        </ul>
    </nav>
</header>

<div id="forms">

    <form (ngSubmit)="submitForm()" #loginForm="ngForm" id="formulario">

        <div id="low">

            <div id="login">

                <h1>INICIO DE SESIÓN</h1>

                <p *ngIf="loginFalladito" id="loggeado" #loggeado>{{error}}</p>

                <input type="email" name="mail" #elcorreo id="mail" placeholder="usuario" [(ngModel)]="mail" required>

                <input type="password" name="contrasenia" #lapassword id="contrasenia" placeholder="contraseña" [(ngModel)]="contrasenia" required>

                <button type="submit">Sign In</button>

            </div>

        </div>

    </form>

</div>