<footer>
    <div>
        <div>
            <img src="../../../../../assets/footer/SportClub_aplicaciones-02-12d5659f.png" alt="">
        </div>
    
        <div>
            <h3>SOCIOS</h3>
            <ul>
                <li>Atención al Socio</li>
                <li>Solicitud de Baja</li>
                <li>Arrepentimiento</li>
                <li>Tarjeta Deporte</li>
            </ul>
        </div>
    
        <div>
            <h3>LEGALES</h3>
            <ul>
                <li>Eventos</li>
                <li>Adhesión - Ley 24.240</li>
                <li>Politica Privacidad</li>
                <li>Defensa Consumidor</li>
                <li></li>
            </ul>
    
        </div>
    
        <div>
            <img id="afip" src="../../../../../assets/footer/afip.png" alt="">
        </div>

    </div>

    <div id="decoder"></div>

    <div id="copy">
        <p>
            En SportClub cuidamos tu salud, por eso te recordamos que tu apto médico es indispensable al momento de iniciar una actividad física (leyes nº 139 y 12329).
        </p>
        <p>
            Copyright (c) 2022 SPORTCLUB. Todos los derechos reservados.
        </p>
    </div>

</footer>
